.buttonStyle {
  display: flex;
  flex: 1;
  font-size: 1.25rem;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.buttonStyle:hover {
  background: #fafafa;
}

.integer {
  color: #444;
}

.operator {
  /* color: #a06ee1; */
  color: #5e2bff;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}

.clearBtn {
  /* color: #a06ee1; */

  color: #5e2bff;
  font-size: 1.25rem;
}

.disabled:hover {
  background: none;
  cursor: default;
}
