.calcContainer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#e96443, #904e95);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  width: 400px;
  height: 640px;
  padding: 12px;
  margin: 2vh auto 0 auto;
  overflow: hidden;
}

#prevCalc {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 1.25rem auto 0.5rem auto;
  width: 220px;
  color: white;
  opacity: 0.8;
}

#prevCalc:hover {
  opacity: 1;
}

@media (max-width: 500px) {
  .calcContainer {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    box-shadow: 0;
  }
}
