* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Roboto",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #4d305e;
}
